<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href= "/styles/base.css" rel="stylesheet" type="text/css" />
        <link href= "/styles/layout.css" rel="stylesheet" type="text/css" />
        <link href= "/styles/modules.css" rel="stylesheet" type="text/css" />
    
        <title>Document</title>
    </head>
<body>
    <header>
        <h1>Book App</h1>
    </header>
<main> <form action="/search" method="POST">
    <br>
    <input type="text" name="input" placeholder="type the name" required>
    <p>Please select your type</p>
    <input  type="radio" name="select" value="author" required>author <br><br> 
    <input  type="radio" name="select" value="title" required>title <br>
    <button type="submit">submit</button>
</form>
</main>
<footer>
</footer>
</body>
</html>